.container{
    width: 100vw;
    height: fit-content;
    background-color: #4A0101;
    padding: 0.25%;
}
.container ul{
    display: flex;
    justify-content: space-between;
}
.itemLista{
    color: white;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    margin: auto;
}