.abas {
    overflow: hidden;
    border: 1px solid #ccc;
    background: #0E389C;
    display: flex;
    height: 34px;
}

.abas > button {
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 400;
    color: #FFF;
}

.abaSelecionada {
    font-weight: 700 !important;
}

.abas > button:hover {
    background: #20195F;
}

.jogadoresSection {
    width: 860px;
    margin: auto;
}

.jogador {

}