@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.abas {
    overflow: hidden;
    background: #0E389C;
    display: flex;
    height: 34px;
    margin-bottom: 2px;
}
.aba, .abaSelecionada {
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: #FFF;
}
.aba {
    font-weight: 400;

}

.abaSelecionada {
    text-underline: #FFF;
    font-weight: 700 ;
}

.abas > button:hover {
    background: #20195F;
}

.jogadoresSection {
    width: 860px;
    margin: auto;
}

@media only screen and (max-width: 860px) {
    .jogadoresSection {
        width: 90%;
        height: auto;
    }
    @media only screen and (max-width: 512px) {
        .abas {
            flex-direction: column;
            height: auto;
        }
    }

}

.jogador {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 124px;

}

.jogador > .foto {
    width: 88px;
    height: 94px;
    background: #D9D9D9;
    margin: 0 0 0 29px;
}
.jogador > .info {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 41px;
    flex-grow: 1;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
}
.nomeJogador {
    font-weight: 700;
}

.jogador > .posicao {
    background: darkmagenta;
    color: #FFFFFF;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 64px;
    text-align: center;
    margin: 27px 28px 27px 0;
}

.jogador:nth-child(even) {
    color: #079A5A;
    background: #EEEEEE;
}
.jogador:nth-child(even) > .posicao {
    background: #079A5A;
}
.jogador:nth-child(odd) {
    color: #0E389C;
}
.jogador:nth-child(odd) > .posicao {
    background: #0E389C;
}